<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Consulta Invalida</title>
</head>
<body>

<h2>Consulta Invalida</h2>
<ul>Os serviços de ligação estão disponíveis apenas entre a capital(011) e outras localidades.</ul>
<ul>Ao menos um dos campos de DDD deve ser estar preenchido com 011.</ul>
<a href="{% url 'url_consultar_ligacao' %}">Nova Consulta</a>

</body>
</html>