<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Valor de Pagamento</title>
</head>
<body>

    <table>
        <tr>
            <th>DDD(Origem)</th>
            <th>DDD(Destino)</th>
            <th>Tempo de Chamada em Minutos</th>
            <th>Plano FaleMais</th>
            <th>Preço da Chamada</th>
        </tr>
        <tr>
            <td>{{DDD_origem}}</td>
            <td>{{DDD_destino}}</td>
            <td>{{tempo}}</td>
            <td>{{plano_falemais}}</td>
            <td>{{preco}}</td>
        </tr>
    </table>

<a href="{% url 'url_consultar_ligacao' %}">Nova Consulta</a>

</body>
</html>