<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Valor de Pagamento</title>
    <style>
        body
        {
            padding: 0;
            margin: 0;
            background: #8B0000
        }
        table
        {
            padding: 0;
            margin: 0;
            position: absolute;
            font-family: 'arial';
            top: 40%;
            left: 5%;
            color: #FFFFFF;
        }
        th, td
        {
            padding: 10px;
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>

    <table>
        <tr>
            <th>DDD(Origem)</th>
            <th>DDD(Destino)</th>
            <th>Tempo de Chamada em Minutos</th>
            <th>Plano FaleMais</th>
            <th>Preço da Chamada</th>
        </tr>
        <tr>
            <td>{{DDD_origem}}</td>
            <td>{{DDD_destino}}</td>
            <td>{{tempo}}</td>
            <td>{{plano_falemais}}</td>
            <td>{{preco}}</td>
        </tr>
    </table>

<div style="background-color: #FFFFFF; color: #FF0000; padding: 20px">
    <a href="{% url 'url_consultar_ligacao' %}" style="color: red">Nova Consulta</a>
</div>
<div style="color: #FFFFFF; position: absolute; top: 30%; left: 5%">
    <h1>Informações sobre a ligação</h1>
</div>

</body>
</html>